* {
  margin: 0;
  padding: 0;
}
.container {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 40px;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 4, 255);
  margin-top: 300px;
}

.box-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(159, 194, 206);
  left: 1335px;
  bottom: 30px;
  position: relative;
}
