* {
  margin: 0;
  padding: 0;
}
.container {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 40px;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 4, 255);
  bottom: 230px;
  position: relative;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(25, 160, 39);
  left: 1335px;
  bottom: 30px;
  margin-top: 150px;
  position: relative;
}
