* {
  margin: 0;
  padding: 0;
}
.container {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 40px;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 4, 255);
  bottom: 1590px;
  left: 1135px;
  z-index: 10;
  position: relative;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(25, 160, 39);
  left: 1135px;
  bottom: 30px;
  margin-top: 530px;
  z-index: 10;
  position: relative;
}
.box-3 {
  width: 400px;
  height: 800px;
  background-color: rgb(186, 206, 228);
  left: 1135px;
  bottom: 890px;
  margin-top: 50px;
  z-index: 3;
  position: relative;
}
