* {
  margin: 0;
  padding: 0;
}
.container {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 40px;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: rgb(159, 194, 206);
  left: 150px;
  bottom: 130px;
  position: relative;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  left: 20px;
  top: 30px;
  position: relative;
}

.box-3 {
  width: 300px;
  height: 300px;
  background-color: lightgreen;
  bottom: 5px;
  position: relative;
}
.box-4 {
  width: 100px;
  height: 100px;
  background-color: rgb(159, 194, 206);
    left: 30px:
  bottom: 30px;
  position: relative;
}
